.sec1{
    display: flex;
    height: 90vh;
    align-items: center;
    gap: 60px;
}
.sec1-1{
    margin-left: 100px;
}
.sec1-1 img{
    width: 400px;
    border-radius: 50%;
}    
.sec1-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec1-2-1{
    font-weight: 600;
}
h1{
    font-size: 50px;
    color: darkorange;
}
.sec1-2-3{
    font-weight: 600;
    font-size: 22px;
}
p{
    font-size: 18px;
    width: 90%;
}
.btns{
    display: flex;
    gap: 20px;
}
.btns >:nth-child(1){
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transform: all 0.3s ease;
}
.btns >:nth-child(1):hover{
    background-color: black;
    color: white;
}
.btns >:nth-child(2){
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transform: all 0.3s ease;
}
.btns >:nth-child(2):hover{
    background-color: black;
    color: white;
}
@media(max-width: 1024px){
    .sec1{
    flex-direction: column;
    }
    p{
        text-align: center;
    }
    .sec1-1{
        margin-left: 0px;
    }
    .sec1-2{
        align-items: center;
        padding-bottom: 50px;
    }
}
@media(max-width: 767px){
    .sec1{
    flex-direction: column;
    }
    h1{
        font-size: 40px;
    }
    p{
        text-align: center;
    }
    .sec1-1{
        margin-top: 50px;
    }
    .sec1-1 img{
        width: 450px;
    }
    .sec1-2{
        align-items: center;
    }
}