*{
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins, sans-serif;
    font-weight: 100;
    font-style: normal;
}
a{
    text-decoration: none;
    color: darkorange;
    transition: all 0.3s ease;
}
a:hover{
    color: darkorange;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: darkorange;
}
.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 100px;
}
.logo{
    width: 40%;
    font-size: 30px;
    font-weight: 600;
    color: darkorange;
}
.menu-bar{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-bar li {
    font-size: 20px;
}
.navbar-menu{
    display: none;
}
@media(max-width: 1024px){
    .navbar{
        display: none;
    }
    .navbar-menu{
    display: flex;
}
.hamburger{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    right: 30px;
    top: 20px;
}
.hamburger i {
    font-size: 35px;
    padding: 4px;
}
.navbar-menu .logo{
    margin-top: 20px;
    padding-left: 30px;

}
.navbar-menu .menu-bar{
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    position: fixed;
    right: 0;
    top: 70px;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    margin-right: -700px;
    transition: all 0.3s ease;
}
.navbar-menu .menu-bar.show{
    margin-right: 0px;
}
.navbar-menu .menu-bar li{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
}}
@media(max-width: 767px){
    .logo {
        text-wrap: nowrap;
    }
    .navbar-menu .logo{
        margin-top: 25px;
        padding-left: 10px;
        font-size: 25px;
    }

}